{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 88,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULE>",
    "^@src/(.*)$",
    "^@controllers/(.*)$",
    "^@docs/(.*)$",
    "^@dtos/(.*)$",
    "^@entities/(.*)$",
    "^@errors/(.*)$",
    "^@interfaces/(.*)$",
    "^@middlewares/(.*)$",
    "^@plugins/(.*)$",
    "^@repositories/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^@validations/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript"]
}
